{% load wagtailimages_tags wagtailembeds_tags %}

    <!-- *** NAVBAR ***
_________________________________________________________ -->

    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand scrollTo" href="#intro">Таня Левинзон</a>
            </div>

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#intro">Главная</a>
                    </li>
                    <li><a href="#about">Обо мне</a>
                    </li>
                    <li><a href="#services">Услуги</a>
                    </li>
                    <li><a href="#testimonials">Отзывы</a>
                    </li>
                    <li><a href="#references">Работы</a>
                    </li>
                    <li><a href="#customers">Клиенты</a>
                    </li>
                    <li><a href="#contact">Контакты</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->

        </div>
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->



        <!-- *** INTRO IMAGE ***
_________________________________________________________ -->
        <div id="intro" class="clearfix">
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="carousel-caption">
                            {% for intro_item in intro_items %}
                                {% image intro_item.hero original as hero %}
                                <img src="{{ hero.url }}" class="item" id="intro">
                                {% if intro_item.logo %}
                            <div data-animate="fadeInDown" class="logo">
                            {% image intro_item.logo width-130 as logo_image %}
                                <img src="{{ logo_image.url }}" class="img-responsive">
                            </div>
                                {% endif %}
                            <h1>{{ intro_item.intro_h1 }}</h1>
                            <h2>{{ intro_item.intro_h2 }}</h2>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- *** INTRO IMAGE END *** -->

